<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Kafka Streams
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  SPEED
                </div>
                <div class="card-body">
<!--                  optional Params: refreshInterval, transitionDuration-->
                  <app-speed [dataObservable]="kafkaStreamHandler.postsSpeedObserver" ></app-speed>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  SPEED
                </div>
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Styles -->

  </div>
</div>
